<%- include("../partials/header.ejs") %>

<div class = "parameterToHide">
    <p id = "para_element1RangeFrom">
        <%= testParameters.element1RangeFrom %>
    </p>
    <p id = "para_element1RangeTo">
        <%= testParameters.element1RangeTo %>
    </p>
    <p id = "para_element2RangeFrom">
        <%= testParameters.element2RangeFrom %>
    </p>
    <p id = "para_element2RangeTo">
        <%= testParameters.element2RangeTo %>
    </p>
    <p id = "para_operator">
        <%= testParameters.operator %>
    </p>
    <p id = "para_numberOfQuestions">
        <%= testParameters.numberOfQuestions %>
    </p>
</div>
<div class="container mt-5 mb-3">
  <div class ="row">
    <div class = "col-md-8 offset-md-2 col-10 offset-1">
      <h1><%= testParameters.displayName %></h1>
      <p>Enter your answer using the keyboard, it will go to next question if you got it right.</p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-8 offset-md-2 col-10 offset-1">
        <div class="card text-center" id="testSheetCard">
          <div class="card-header" id="currentQuetionNum">
            Question 1:
          </div>
          <div class="card-body">
            <h5 class = "correctAnswers" id = "passedQuestions"> 2 * 4 = 8<br></h3>
            <h2 class="card-title" id = "currentQuestion"> 2 * 1 = ?</h5>
              <br>
              <input type="number" id="userInputValue" placeholder="Your Answer" autofocus>

            <div class="container mt-4">
              <button type="button" class="btn btn-secondary mr-3 mt-1 confettiEffectSource" id="showAnswerBtn">Show Answer</button>
              <button type="button" class="btn btn-success mt-1 confettiEffectSource" onclick="window.location.href='/numeracyHome/multiplication';">Back to all tables</button>
            </div>
              
          </div>
          <div class="card-footer text-muted" id="QuetionsToGo">
            8 more to go
          </div>
        </div>
    </div>
  </div>
    
</div>


<%- include("../partials/footer.ejs") %>
<!-- jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- lightweight confetti library -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<!-- page logic script -->
<script src="../../../js/multiplicationTestKeyboard.js"></script>